<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arm64</string>
	</array>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>GITHUB_CLIENT_ID</key>
	<string>$(GITHUB_CLIENT_ID)</string>
	<key>CLIENT_SECRET</key>
	<string>$(CLIENT_SECRET)</string>
	<key>ENVIRONMENT</key>
	<string>$(ENVIRONMENT)</string>
	<key>ROLLBAR_ACCESS_TOKEN</key>
	<string>$(ROLLBAR_ACCESS_TOKEN)</string>
	<key>APP_INFORMATION_URL</key>
	<string>https://raw.githubusercontent.com/uioporqwerty/waka-watch/main/app_information.json</string>
	<key>POST_SERVER_ITEM_ACCESS_TOKEN</key>
	<string>$(POST_SERVER_ITEM_ACCESS_TOKEN)</string>
	<key>GITHUB_ACCESS_TOKEN</key>
	<string>$(GITHUB_ACCESS_TOKEN)</string>
</dict>
</plist>
